body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.middleTable tr td {
  vertical-align: middle;
}

.row {
  margin-top: 10px;
}

.btn-back {
  color: grey;
  font-size:x-large;
}

.btn-add {
  color: black;
  font-size: x-large;
}

.details {
  margin: 10px;
}
/* 
input:disabled {
  background-color: lightgrey;
  opacity: 1;
  color: grey;
} */